<%- include('../port/layout-start', { title: title }) %>
<%- include('../port/menu', { user: user }) %>

<form action="/api/signin" method="post">   
    <div>
        <label>Email</label>
        <input type="email" name="email" /><br />
    </div>
    <div>
        <label>Пароль</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>

<%- include('../port/layout-end') %>